/* Load only necessary fonts with proper fallbacks */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Define CSS variables for colors and commonly used sizes */
:root {
  --primary-color: #6255B3;
  --secondary-color: #E3E4FA;
  --highlight-color: #FF6347;
  --text-color: #3d3d3d;
  --white-color: white;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-medium: rgba(0,0,0,0.2);
}

/* Global settings */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

/* Layout and structure */
.content-container, .App, .delete-form-container, .update-form-container, .bulk-schedule-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App {
  background-color: var(--primary-color);
  color: var(--white-color);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.control-panel, .sidebar, .dashboard, .request-counter, .input-group, .delete-form-container, .update-form-container, .bulk-schedule-container, .update-item {
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 6px var(--shadow-light);
}

/* Reusable flex and list styling */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

ul, .schedule-container, .bulk-schedule-container {
  padding: 0;
  list-style: none;
  width: 100%;
}

/* Component-specific styling */
.schedule-item, .bulk-schedule-item {
  background-color: var(--primary-color);
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  font-size: 1rem;
  width: 350px;
  box-shadow: 10px 10px 5px var(--shadow-light);
  transition: transform 0.3s ease-in-out;
}

.schedule-item:hover, .sidebar button:hover, .input-group input:hover, .input-group input:focus, .bulk-input:hover, .bulk-input:focus, .delete-input:hover, .update-input:hover, .update-id-input:hover, .update-id-input:focus {
  transform: scale(1.05);
  outline: none;
  border-color: var(--primary-color);
}

/* Buttons and inputs */
button, input {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--secondary-color);
}

.error-text, .update-message, .delete-message {
  color: var(--highlight-color);
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: var(--secondary-color);
}

/* Titles and headers */
.title, .header-title {
  font-size: 2rem;
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
}
