.content-container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}

.App {
  background-color: #6255B3;
  border-radius: 20px;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  box-sizing: border-box;
  width: 100%;
}

.schedule-container {
  width: 100%;
  box-sizing: border-box;
  flex-grow: 2;
  background-color: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  }


.schedule-item {
  background-color: #6255B3;
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  font-size: 1rem;
  width: 200px; /* Установите фиксированную ширину для тестирования */
  min-width: 100px; /* Минимальная ширина элемента */
  max-width: 200px; /* Максимальная ширина элемента */
  flex: 1 1 200px; /* Разрешите элементу расти и сжиматься, базовая ширина 200px */
  display: flex;
}

.header-title {
  color: white;
  font-size: 2rem;
  text-align: center;
}

.sidebar {
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
}

.sidebar button {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  background: none;
  border: none;
  color:white;

  .settings-button {
    margin-bottom: auto;
  }
}


.schedule-header {
  color:#6255B3;
  font-size: 5rem;
  text-align: left;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-group button {
    margin: 10px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    background: none;
    border: none;
    color:#3d3d3d
}

.input-group input {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  background: #9a9a9a;
  border: #9a9a9a;
  color: #3d3d3d;
  border-radius: 10px;
}
.filter-text {
  color: black;
  font-size: 2rem;
}

.error-text {
  color: black;
}